* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-size: 16px;
}

section {
  position: relative;
  /* margin-bottom: 150px; */
  /* background-color: aquamarine; */
}
section:first-child div + .group-dinner-image {
  position: relative;
  background-size: cover;
  background-position: top;
}

.bg-default {
  background-color: #636363;
  background-image: url("../images/concrete-wall.png");
  height: 25rem;
}

.color-default {
  color: #fddeb9;
  background-image: url("../images/concrete-wall.png");
}

.hero-image {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), #00000080); */
  /* Set a specific height */

  background-image: url("../images/cookingImage.jpg");
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}
.hero-text {
  /* text-align: center; */
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 4rem;
  text-shadow: 2px 1px grey;
}
.shrimp {
  max-height: 200px;
  max-width: 200px;
}
img .shrimp {
  height: 10rem;
}
/* 
.group-dinner {
  max-height: auto;
  max-width: auto;
} */
.group-dinner-image {
  background-image: linear-gradient(
      to left top,
      rgba(116, 120, 115, 0.09),
      #b4752846
    ),
    url("../images/groupDinner2_3_2000x1800.jpg");

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  /* transform: scale(1, 0.95);
  -ms-transform: scale(1, 0.95);
  -webkit-transform: scale(1, 0.95); */

  height: 100vh;
}
.catering-image {
  background-image: linear-gradient(
      to left top,
      rgba(116, 120, 115, 0.09),
      #b4752846
    ),
    url("../images/catering.jpg");

  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  /* transform: scale(1, 0.95);
-ms-transform: scale(1, 0.95);
-webkit-transform: scale(1, 0.95); */

  height: 100vh;
}

.menu-hero-image {
  background-image: linear-gradient(
      to left top,
      rgba(116, 120, 115, 0.09),
      #b4752846
    ),
    url("../images/menuHeroImg.jpg");

  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  /* transform: scale(1, 0.95);
  -ms-transform: scale(1, 0.95);
  -webkit-transform: scale(1, 0.95); */

  height: 100vh;
}
.menu-header {
  position: absolute;
  top: 50%;
  left: 50%;
}
.menu-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
}
.menu-header-text {
  position: absolute;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 1px grey;
  font-size: 1.3rem;
}
.menu-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6rem;
}

.group-dinner-btn {
  display: block;
  position: absolute;
  white-space: wrap;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  z-index: 100;
  color: white;
}
.group-dinner-text {
  display: block;
  position: absolute;
  white-space: wrap;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(226, 219, 219);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  z-index: 100;
  color: white;
  text-shadow: 2px 1px grey;
  letter-spacing: 2px;
}

.btn {
  min-width: fit-content;
  white-space: nowrap;
  background-color: #fbbe72;
}
.group-dinner-btn {
  background-color: #b47528de !important;
}
.group-dinner-btn:hover,
btn:hover {
  color: #f99214;
  background-color: #f99214;
}

.wedding-cake,
.building,
.toasting-glasses {
  height: 5rem;
}

.catering-title {
}
